
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow: hidden;
}

/* nav nav nav nav nav nav nav nav nav nav nav nav */
#navegadorPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
    background-color: rgb(77, 176, 212);
}

#conenedorDelNav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .625rem;
    border: .3125rem solid rgb(1, 149, 203);
    border-radius: 3.125rem;
    width: 90%;
}

#inputNavegador{
    text-decoration: none;
    height: 1.875rem;
    border-radius: .625rem;
    text-align: center;

}

.iconoBuscador{
    height: 1.875rem;
    width: 1.875rem;
    margin-left: 1.25rem;
}

/* nav nav nav nav nav nav nav nav nav nav nav nav */
/* fondo de pantalla fondo de pantalla fondo de pantalla */

.fondoDePantalla{
    background-image: url(../media/img/fondo-windowsxp.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
}

.cambiarmododnoche{
    background-image: url(../media/img/windowsxp-denoche.png);
    height: 100%;
    width: 100%;
    background-size: cover;
}

/* fondo de pantalla fondo de pantalla fondo de pantalla */
/* aplicaciones calculadora aplicaciones calculadora  */

#aplicaciones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aplicacionesDeLaWeb{
    width: 3.125rem;
    height: 3.125rem;
}

#imagenDeCalculadora{
    display: block;
    margin: auto;
}

#aplicaion1Calucladora{
    margin: 3.125rem;
    cursor: pointer;
    user-select: none;
}

#ventanaEmergentesCalculadora{
    position: relative;
    display: block;
    margin: auto;
    width: 85%;
    height: 95%;
    background-color: #fff;
    bottom: 14.5rem ;
    display: none;
}

/* aplicaciones calculadora aplicaciones calculadora  */
/* aplicaion red soscial aplicaion red soscial aplicaion red soscial */

#imagenDeRedSocial{
    display: block;
    margin: auto;
}

#aplicacionRedSocial{
    cursor: pointer;
    user-select: none;
}

/* aplicaion red soscial aplicaion red soscial aplicaion red soscial */

#ventanaEmergenteRedSocial{
    position: relative;
    display: block;
    margin: auto;
    width: 85%;
    height: 95%;
    background-color: #fff;
    bottom: 14.5rem ;
    display: none;
}

/* aplicaion red soscial aplicaion red soscial aplicaion red soscial */

/* aplicacion red social crear usuraio */
#ventanaemergeneredsoialcrerusuario{
    position: relative;
    display: block;
    margin: auto;
    width: 85%;
    height: 95%;
    background-color: #fff;
    bottom: 14.5rem ;
    display: none;
}
/* aplicacion red social crear usuraio */
/* red social interfaz */
#ventanaderedessoscialesss{
    position: relative;
    display: block;
    margin: auto;
    width: 85%;
    height: 95%;
    background-color: #fff;
    bottom: 14.5rem ;
    display: none;
}

/* red social interfaz */

/* descarapps */
#descargarappsventanaemergente{
    position: relative;
    display: block;
    margin: auto;
    width: 85%;
    height: 95%;
    background-color: #fff;
    bottom: 14.5rem ;
    display: none;
}
/* descarapps */

.imagenDeCalculadoraFondo{
    background-color: rgb(190, 182, 182);
    opacity: .125rem;
    border-radius: .3125rem;
}